body {
	background-image: url("../images/car_background.jpg");
	background-color: #cccccc;
}

span {
	font-size: 18px;
}

#header {
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#headerMsg {
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#game {
	margin-top: 80px;
	padding: 50px 20px 50px 20px;
	background-color: #cccccc;
	opacity: .9;
}

#message {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: black;
}

.gameText {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: steelblue;
}